body {
  margin: 0;
  background: #0b0b0b;
  color: #d8d5cc;
  font-family: Georgia, "Times New Roman", serif;
}

.page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 32px;
}

.site-header {
  text-align: center;
  border-top: 1px solid #c5a35a;
  border-bottom: 1px solid #c5a35a;
  padding: 32px 0;
  margin-bottom: 32px;
}

.website-title {
  color: #9a9488;
  font-size: 3.00rem;
  letter-spacing: 0.5em;
  font-family: "Cinzel", serif;
}

h1 {
  color: #c5a35a;
  font-size: 1.00rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  color: #e2d2a2;
  font-style: italic;
}

.layout {
  display: flex;
  gap: 32px;
}

.sidebar {
  width: 220px;
  border-right: 1px solid #3a3323;
  padding-right: 24px;
}

.wheel-link {
    display: block;
    margin-bottom: 30px;
}

.wheel-link img {
    width: 120px;
    max-width: 120px;
    animation: slowspin 120s linear infinite;

    transition:
      transform 0.3s ease,
      filter 0.3s ease;
}

.wheel-link img:hover {
    transform: scale(1.15);

    filter:
        brightness(1.15)
        drop-shadow(0 0 4px #c5a35a)
        drop-shadow(0 0 8px #c5a35a);
}

@keyframes slowspin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sidebar a {
  display: block;
  color: #c5a35a;
  text-decoration: none;
  margin-bottom: 18px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.sidebar a:hover {
  color: #e2d2a2;
  text-decoration: underline;
}

.content {
  flex: 1;
  background: #151515;
  border: 1px solid #3a3323;
  padding: 32px;
  line-height: 1.7;
}

.content h2 {
  color: #c5a35a;
  margin-top: 0;
}
