@font-face {
    font-family: "Daedric";
    src: url("fonts/OMWAyembedt.otf") format("opentype");
}


.timeline-container {
  margin-top: 180px; /* prevents overlap with fixed header */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  background: black;
}

.timeline-track {
  display: inline-block;
  position: relative;
  min-width: max-content;
  height: 600px; /* adjust as need be */
}

/* this is what makes everything stack vertically instead of collapsing */
.timeline-content {
  position: relative;
  width: 100%;
  display: block;
}

.timeline-header {
  text-align: center;
  border-top: 1px solid #c5a35a;
  border-bottom: 1px solid #c5a35a;
  padding: 32px 0;
  margin-bottom: 32px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #0b0b0b; /* or whatever your page background is */
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;

  height: 2px;
  background: #c5a35a;
}

.wheel-link {
    display: block;
    margin-bottom: 30px;
}

.wheel-link img {
    width: 120px;
    max-width: 120px;
    animation: slowspin 120s linear infinite;

    transition:
      transform 0.3s ease,
      filter 0.3s ease;
}

.wheel-link img:hover {
    transform: scale(1.15);

    filter:
        brightness(1.15)
        drop-shadow(0 0 4px #c5a35a)
        drop-shadow(0 0 8px #c5a35a);
}

@keyframes slowspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title {  
    color: #9a9488;
    font-size: 3.00rem;
    letter-spacing: 0.5em;
    font-family: "Cinzel", serif;
}

.magnus {
}

.star {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #c5a35a;
  border-radius: 50%;
}

.toppest { transform: translateY(-180px); }

.top { transform: translateY(-90px); }
.top-middle { transform: translateY(-45px); }

.middle { transform: translateY(0px); }

.bottom-middle { transform: translateY(45px); }

.bottom { transform: translateY(90px); }

.bottomest { transform: translateY(140px); }

.content {
  opacity: 0;
  postion: absolute;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease;
  background: #151515;
  border: 1px solid #3a3323;
  padding: 32px;
  margin-bottom: 32px;
  z-index: 10;
  transform: translateX(-50%);
}

.content h2 {
  color: #c5a35a;
  margin-top: 0;
}

.star {
  display: inline-block;
  position: relative;
}

.star:hover .content {
  opacity: 1;
  visibility: visible;
}

.event-star .content {
  border: 1px solid #888;
  background: rgba(30,30,30,0.9);
}

.chapter-star .content {
  border: 1px solid #c5a35a;
}

.story-star .content {
  border: 1px solid #6aa6ff;
}

.secret-star .content {
  border: 1px solid #ff4d4d;
}
