@font-face {
    font-family: "Daedric";
    src: url("fonts/OMWAyembedt.otf") format("opentype");
}


.timeline-container {
}

.timeline-header {
  text-align: center;
  border-top: 1px solid #c5a35a;
  border-bottom: 1px solid #c5a35a;
  padding: 32px 0;
  margin-bottom: 32px;
}

.wheel-link {
    display: block;
    margin-bottom: 30px;
}

.wheel-link img {
    width: 120px;
    max-width: 120px;
    animation: slowspin 120s linear infinite;

    transition:
      transform 0.3s ease,
      filter 0.3s ease;
}

.wheel-link img:hover {
    transform: scale(1.15);

    filter:
        brightness(1.15)
        drop-shadow(0 0 4px #c5a35a)
        drop-shadow(0 0 8px #c5a35a);
}

@keyframes slowspin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.title {
}

.timeline-track {
}

.magnus {
}

.star {
}

.toppest {
  transformY: (-180px);
}

.top {
  transformY: (-90px);
}

.top-middle {
  transformY: (-45px);
}

.middle {
  transformY: (0px);
}

.bottom-middle {
  transformY: (45px);
}

.bottom {
  transformY: (90px);
}

.bottomest {
  transformY: (140px);
}

.content {
  opacity: 0
}

.story-star
.episode-star
.chapter-star
.secret-star
.event-star
